[Desktop Entry]
Name=GoLand
Icon=goland
GenericName=Go IDE
Comment=Go IDE
Exec=/usr/bin/goland %f
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=jetbrains-goland

