[Desktop Entry]
Name=IntelliJ IDEA
Icon=intellij-idea
GenericName=Java IDE
Comment=Intelligent Java IDE. Ultimate Edition.
Exec=/usr/bin/idea %f
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=jetbrains-idea
